<div class="buttonRow">
  <a href="#"><button class="btn btn-primary submitButton">SUBMIT AN ITEM</button></a>
</div>

<h1 class="heading">Listings</h1>

<section class="listContainer"><!--ngfor loop-->

  <div class="itemCard"><!--conditional class lost or found?-->


    <div class="row">
      <div class="itemInfo col-6">
        <div class = "status">FOUND</div> <!--conditional class?-->
        <div class="itemName">Keys</div>
        <div class="row">
          <div class="date col-6"><span class="bold">Date: </span>July 21 2022 </div>
          <div class="location col-6"><span class="bold">Location: </span>Stanley Park</div>
        </div>
      </div>

      <div class="itemImage col-6" ></div>
    </div>


    <!--expanded-->
  <div class="expandedRow row">
    <div class="personInfo col-6">
       <div class="contactName"><span class="bold">Contact Name: </span>John Smith</div>
       <div class="email"><span class="bold">Email: </span>john@gmail.com</div>
       <div class="phoneNumber"><span class="bold">Phone Number: </span>555-879-9876</div>
    </div>
    <div class="button col-6">
      <button class="btn btn-primary claimButton">CLAIM</button>
    </div>
  </div>

  </div>
</section>



