
<div class="container center mt-5">

    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">First Name</label>
      <input [(ngModel)]="first_name" type="text" class="form-control"  aria-describedby="emailHelp">
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Last Name</label>
    <input [(ngModel)]="last_name" type="text" class="form-control" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input [(ngModel)]="email" type="email" class="form-control"  aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control" >
  </div>



  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button class="btn btn-primary" (click)="register()">Register</button>
  <div  *ngIf="registrationStatus">You have registered successfully <a routerLink="/login">Sign In</a></div>

</div>
