<div class="container center mt-5">
  <form #form="ngForm" (ngSubmit)="signup(email_)">

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        name="email"
        #email_="ngModel"
        [(ngModel)]="email"
        type="email"
        class="form-control"
        id="email"
        required
        aria-describedby="emailHelp"/>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <div class="alert alert-danger" role="alert" *ngIf="email_.touched && email_.invalid">The expected email format is bob@domain.com</div>
    </div>

    <div class="mb-3">
      <label for="password1" class="form-label">Password</label>
      <input
        name="password1"
        #password1_="ngModel"
        [(ngModel)]="password1"
        type="password"
        class="form-control"
        id="password1"
        required
        pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$">
      <div class="alert alert-danger" role="alert" *ngIf="password1_.touched && password1_.invalid">
        Password should contain at least 8 characters, 1 number and 1 special character
      </div>
    </div>

    <div class="mb-3">
      <label for="password2" class="form-label">Confirm Password</label>
      <input
      name="password2"
      #password2_="ngModel"
      [(ngModel)]="password2"
      type="password"
      class="form-control"
      id="password2"
      required
      pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"
      value="password1_.value">
      <div class="alert alert-danger" role="alert" *ngIf="password2_.touched && password2_.invalid">
        Passwords do not match!
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="form.invalid">sign up</button>
    <!-- <div *ngIf="signupstatus">Sign up successful, please login <a routerLink="/login">here</a></div>
    <div *ngIf="!signupstatus">Sorry something went wrong, server responded with {{ signupmessage.sqlMessage }}</div> -->

  </form>
</div>
